{% extends 'base.html' %}
{% block content %}

<div class="flex">
    <div class="max-w-md text-center mx-auto">
        <div class="mb-4">
            <h3 class="text-2xl font-bold">Project Activation Required</h3>
            <p class="text-lg font-semibold">Select Project</p>
        </div>

        <!-- List of existing projects -->
        {% for project in object_list %}
        <div class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white mb-4">
            <a href="{{ project.get_activate_url }}" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ project.title }}
            </a>
        </div>
        {% endfor %}

        <!-- Styled "Create Project" button -->
        <div class="mt-6">
            <a href="{{ projects_create }}" class="block w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-4 focus:ring-green-300 focus:ring-opacity-50">
                Create Project
            </a>
        </div>
    </div>
</div>

{% endblock content %}
