

{% for object_dict in object_list %}

<div class="mb-5" id="object-{{ forloop.counter}}">
    {{ object_dict.name }} 
    {{object_dict.is_image}}

    {% if object_dict.is_image %}
    <img src="{{ object_dict.url }}" alt="" style="max-width: 50%; height: auto; padding: 10px;">
    {% endif %}
    <a href="{{ object_dict.url }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View In Browser</a>
    <a href="{{ object_dict.download_url }}" class="font-medium text-grey-600 dark:text-grey-500 hover:underline">Download</a>
    {% if instance %}
    <button 
    hx-confirm='Are you sure you want to delete this?'
    hx-target='#object-{{ forloop.counter}}'
    hx-swap='innerHTML'
    class="font-medium text-red-600 dark:text-red-500 hover:underline"
    hx-post='{{ instance.get_absolute_url }}files/{{ object_dict.name }}'>
        Delete
    </button>
    {% endif %}
</div>

{% endfor %}